*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

.header li{
    list-style: none;
    color: white;
    cursor: pointer;
    font-size: 1.5rem;
}

.header ul{
    display: flex;
    justify-content: center;
    gap: 5%;
    /* border: 1px solid white; */
    padding: 2%;
}