.search{
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    margin-top: 8%;
}
.search input{
    width: 45%;
    font-size: larger;
    padding: 20px;
    border-radius: 10px;
    outline: none;
    border: transparent;
    box-shadow: rgba(100, 100, 111, 0.2) 50px 7px 49px 40px;
}
.search p{
    right: 400px;
    position: absolute;
    width: 25px;
    color: gray;
    z-index: 10;
    font-size: 1.6rem;
}
.cards{
    display: flex;
    width: 80%;
    margin: auto;
    gap: 30px;
    height: auto;
    /* padding: 0px 0px 50px 0px; */
    border-radius: 20px;
    /* border-bottom-left-radius: 20px; */
}
.cards div{
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;

    
}
.tempdata{
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
    border: none;
    padding: 20px 20px 20px 20px;
}
.tempdata p{
    font-size: 1.4rem;
    font-weight: bold;
    
}